$black: black;
$white: #eee;

html, body {
    background-color: $black;
    color: $white;
    height: 100%;
    overflow: hidden;
}

body {
    padding: 20px 20px 20px 20px;
}

h1 {
    font-size: 3.400rem;
    font-weight: 300;
    line-height: 4rem;
}
h2 {
    font-size: 2.400rem;
    font-weight: 300;
    line-height: 3.2rem;
}
h3 {
    font-size: 2.000rem;
    font-weight: 300;
    letter-spacing: 0.005em;
}
h4 {
    font-size: 1.600rem;
    font-weight: 300;
    letter-spacing: 0.010em;
    line-height: 2.4rem;
}

a {
    text-decoration: none;
}

.small {
    font-size: 65%;    
}

.pointer {
    cursor: pointer;
};

// ---- Home ---

.mainrow {
    margin-bottom: 30px;
}

// ---- Chart ---

.d3-chart-container {
    width: 100%;

    svg {
        display: inline-block;
        
        .axis {
            line, text, path {
                fill: none;
                stroke: $white;
                color: $white;
                font-size: 1em;
                font-weight: 200;
            }
        } 
        
        .line {
            fill: none;
            stroke: $white;
            stroke-width: 2px;
        }
        
        text {
            fill: none;
            color: $white;
        }
    }
}

// ---- Weather ----

.weather {
    padding: 10px;

    .weather-current {
        margin-left: 40px;
        margin-right: 60px;
        div {
            padding: 5px 10px;
        }
    }
    
    .wi {
        font-size: 7em;
    }
    
    .temp {
        font-size: 4em;
    }
    
    .summary {
        font-size: 1.6em;    
    }
    
    .day-summary {
        font-size: 1em;
        text-align: center;
    }
}

// ---- date-time ----

.date-time {
    padding: 10px;
    .div {
        padding: 10px;
    }
    
    .time {
        font-size: 6em;
    }
    
    .date {
        font-size: 1.5em;
    }
}

// ---- MIC

.mic {
    .label {
        font-size: 1.2em;
    }
    
    &>div {
        margin-top: 15px;
    }

    .chart-color1 {
        fill: #aaa;
    }

    .chart-color2 {
        fill: #ccc;
    }

    .chart-color3 {
        fill: $white;
    }

    .needle, .needle-center {
        fill: #999;
    }
}

// ---- Travel ---

.routes-list {
    padding: 0px 30px;
    
    .route-header {
        padding-bottom: 15px;
        text-align: center;
        font-size: 2em;        
        border-bottom: 2px solid #e9e9e9;
    }
    
    .routes {
        overflow: auto;
        max-height: 300px;
        margin: 0;
        padding: 0;
        list-style-type: none;
        counter-reset: route;
        
        li {
            position: relative;
            padding: 15px 35px 15px 45px;
            counter-increment: route;
            border-bottom: 2px solid $white;
            
            &:before {
                font-weight: bold;
                font-weight: 700;
                position: absolute;
                left: 15px;
                display: block;
                width: 20px;
                height: 20px;
                content: counter(route);
                text-align: center;
                color: black;
                border-radius: 10px;
                background-color: $white;
                font-size: 1em;
                line-height: 20px;
            }
        }
        
        .route-info {
            .route-name {
                font-size: 1.1em;
            }
            
            .route-time, .route-length {
                font-size: 0.9em;
            }
            
            .route-stats {
                margin-top: 5px;
                
                .route-length {
                    margin-right: 5px;
                }
                
                .route-length, .route-time {
                    display: inline;
                }
            }
        }
    }
}

// ---- Travel ---

.trains-list {
    padding: 0px 30px;
    
    .train-header {
        padding-bottom: 15px;
        text-align: center;
        font-size: 2em;        
        border-bottom: 2px solid #e9e9e9;
    }
    
    .trains {
        overflow: auto;
        max-height: 300px;
        margin: 0;
        padding: 0;
        list-style-type: none;
        counter-reset: route;
        
        li {
            position: relative;
            padding: 15px 35px 15px 45px;
            counter-increment: route;
            border-bottom: 2px solid $white;
            
            &:before {
                font-weight: bold;
                font-weight: 700;
                position: absolute;
                left: 15px;
                display: block;
                width: 20px;
                height: 20px;
                content: counter(route);
                text-align: center;
                color: black;
                border-radius: 10px;
                background-color: $white;
                font-size: 1em;
                line-height: 20px;
            }
        }
        
        .train-info {
            .train-name {
                font-size: 1.1em;
            }
        }
    }
}

// ----Alert ----

.alert {
    border: 0;
    border-radius: 0;
    
    &.alert-danger {
        background-color: #f44336;
        color: rgba(255,255,255, 0.84);
    }
}

// ----Alert ----

.config {
    background-color: $white;
    color: $black;
    
    .angular-google-map-container { height: 400px; }
    .search-input { width: 350px; }
    
    .rer, .mic {
        margin: 0px 30px;
    }
    
    md-autocomplete { margin-bottom: 20px; }
    
    .md-button {
        margin: 30px 20px;
    }
}