<div layout="column">
    <div class="mainrow" layout="row">
        <div flex="66">
            <weather />
        </div>
        <div flex="33" layout="row" layout-align="center center">
            <date-time />
        </div>
    </div>
    <div class="mainrow" layout="row" layout-align="center center">
        <div flex="20">
            <mic />
        </div>
        <div flex="50">
            <rer />
        </div>
        <div flex="30">
            <travel />
        </div>
    </div>
</div>
<div style="position:absolute;top:0;left:0">{{vm.debug}}</div>