<div layout="column" flex="100" layout-align="space-around stretch">
    <div class="mainrow" layout="row">
        <div flex="75">
            <weather />
        </div>
        <div flex="25" layout="row" layout-align="center center">
            <date-time />
        </div>
    </div>
    <div class="mainrow" layout="row" layout-align="center center">
        <div flex="20">
            <mic />
        </div>
        <div flex="45">
            <rer />
        </div>
        <div flex="35" >
            <travel ng-if="vm.isWorkingDay" />
            <div class="info" ng-if="!vm.isWorkingDay" layout="column" layout-align="center center">
                <span>Bon WE</span>
                <span><i class="fa fa-smile-o" aria-hidden="true" /></span>
            </div>
        </div>
    </div>
</div>
<div style="position:absolute;top:0;left:0">{{vm.debug}}</div>